$caption_font_weight: 600;

$background_image: linear-gradient(
  to right,
  #005e8c,
  #084c75,
  #0a3a5e,
  #082948,
  #041a33
);

.pf-c-login {
  background-image: $background_image;

  .pf-c-login__main {
    height: fit-content;
    margin: auto 0;
  }

  svg.pf-c-spinner.pf-m-lg {
    margin-top: 14px;
  }
}
